html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.export-column-label {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.column-checkbox:checked + label {
    background-color: #d3f9d8;
    border-color: #28a745;
}

.selectable-column {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.selectable-column:hover {
    background-color: #f0f0f0;
}

.selected-column {
    background-color: #d3f9d8;
    border-color: #28a745;
}